@model SelfOrg.Models.CommentViewModel

    @{
        ViewData["Title"] = Model.post.PostName;
    }

@Html.Partial("posthead", Model)


<div id="commentblock">
    @{ if (Model.islogged == true)
        {
    <h4>Есть что добавить?</h4>
    <div id="commentform">

        <div class="row">
            <div class="col-md-10" id="thecomment">
                <textarea name="comment"></textarea>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-default" id="postbut" onclick="comment(@Model.post.PostID)">Оставить комментарий</button>
            </div>
        </div>
    </div>
        }
        else
        {
            <p style="font-size: 130%">Для того, чтобы оставлять комментарии или оценки, пожалуйста, <a asp-controller="Account" asp-action="Login">войдите</a> или <a asp-controller="Account" asp-action="Register">зарегистрируйтесь</a></p>

        }
        }
</div>
<br />


@Html.Partial("postcomments", Model.commmodel)

@section Scripts {
    @{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="~/lib/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
        <link rel="stylesheet" href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
        <link rel="stylesheet" href="~/css/poststyle.css" />
        <script>
tinymce.init({
                theme: "modern",
                selector: 'textarea',
                branding: false,
                width: 550,
                height: 90,
                language: 'ru',
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media textcolor colorpicker contextmenu paste code'
                ],
                toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | forecolor backcolor | bullist numlist outdent indent | link image',
                image_title: true,
                // enable automatic uploads of images represented by blob or data URIs
                automatic_uploads: true,
                // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
                images_upload_url: 'postAcceptor.php',
                // here we add custom filepicker only to Image dialog
                file_picker_types: 'image',
                // and here's our custom image picker
                file_picker_callback: function (cb, value, meta) {
                    var input = document.createElement('input');
                    input.setAttribute('type', 'file');
                    input.setAttribute('accept', 'image/*');

                    // Note: In modern browsers input[type="file"] is functional without
                    // even adding it to the DOM, but that might not be the case in some older
                    // or quirky browsers like IE, so you might want to add it to the DOM
                    // just in case, and visually hide it. And do not forget do remove it
                    // once you do not need it anymore.

                    input.onchange = function () {
                        var file = this.files[0];

                        var reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function () {
                            // Note: Now we need to register the blob in TinyMCEs image blob
                            // registry. In the next release this part hopefully won't be
                            // necessary, as we are looking to handle it internally.
                            var id = 'blobid' + (new Date()).getTime();
                            var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                            var blobInfo = blobCache.create(id, file, reader.result);
                            blobCache.add(blobInfo);

                            // call the callback and populate the Title field with the file name
                            cb(blobInfo.blobUri(), { title: file.name });
                        };
                    };

                    input.click();
                },
                content_css: '//www.tinymce.com/css/codepen.min.css'

            });</script>
            <script>
                   var replyto = function (mydiv)
                {
                    $(mydiv).parent().find(' >.row').toggle();
                    var info = $(mydiv).attr('id');

                }
            </script>
            <script>
                var postreply = function (id) //ответ на комментарий
                {
                    var getname = "comment-" + id; //поиск формы ответа на комментарий
                    var test = tinymce.get(getname).getContent(); //из поля ввода берётся текст
                    if (test != "") { //если текст не пустой
                        var output = new Object(); //создаём объект
                        output.id = id; //записываем id комментария, на который отвечаем
                        output.comment = test; //и текст
                        console.log(JSON.stringify(output));//вывод в консоль для отладки, можно убрать
                        $.ajax({
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            type: "POST", //отправляем объект в метод reply контроллера comments
                            url: "/Comments/reply/",
                            data: JSON.stringify(output), //приводя объект в JSON
                            success: function (result) {
                                console.log(output);//вывод в консоль для отладки, можно убрать
                            }
                        })
                            .done(function (partialViewResult) { 
                                $("#comments").html(partialViewResult); //после успеха обновляем частичное представление с комментариями
                            });
                    }

                }
            </script>

            <script>
                var comment = function (id) { //комментарий к посту
                    var text = tinymce.activeEditor.getContent(); //берём содержимое формы ввода
                    if (text == "") {//если текст пустой
                        var error = document.getElementById('errormsg'); 
                        error.textContent = "Пожалуйста, введите текст комментария";//выводим просьбу ввести текст

                    }
                    else { //если текст есть
                        var output = new Object(); //аналогично postreply, создаём объект
                        output.id = id; //кладём в него id поста
                        output.comment = text; //и текст комментария
                        tinymce.activeEditor.setContent(""); //обнуляем содержимое формы ввода
                        console.log(JSON.stringify(output)); //вывод в консоль для отладки, можно убрать
                        $.ajax({
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            type: "POST",
                            url: "/Comments/comment/", //отправляем объект в метод comment контроллера Comments
                            data: JSON.stringify(output),//преобразовав в JSON
                            success: function (result) {
                                console.log(output);//вывод в консоль для отладки, можно убрать
                            }
                        })
                            .done(function (partialViewResult) {//после успеха обновляем частичное представление с комментариями
                                $("#comments").html(partialViewResult);
                            });
                    }

                }
            </script>

            <script> //показывает/скрывает форму оценки поста, если таковая доступна
                $('#showbut').on('click', function (e) {
                    $('#showbut')
                        .parent()
                        .find(' >.well')
                        .toggle()
                        .find('input')
                        .slider('relayout');
                    e.preventDefault();
                });
            </script>
            <script>                
                var submitrate = function (id) {//оценка поста

                    var postdata = []; //создаём массив данных
                    var counter = 0;
                    $('.valueslider').each(function () {//для каждого слайдера - то есть, для каждого критерия
                        var name = $(this).attr('name');//записываем название критерия
                        var value = $(this).val();//выставленное значение
                        var weight = $(this).attr('weight');//вес критерия
                        postdata[counter] = {//записываем эти данные в объект массива
                            "criterion": name,
                            "rating": value,
                            "weight": weight,
                            "post" : id//добавляем id поста

                        }
                        console.log(postdata[counter]);//вывод в консоль для отладки, можно убрать
                        console.log(JSON.stringify(postdata));//вывод в консоль для отладки, можно убрать
                        counter++;
                        //console.log($(this).attr('id'));
                    });
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: "POST",
                        url: "/Comments/rate/",//отправляем массив в метод rate куонтроллера comments JSON'ом
                        data: JSON.stringify(postdata),
                        success: function (result) {
                            
                        }

                    }).done(function (partialViewResult) {
                        $("#headdiv").html(partialViewResult);//при успехе обновляем заголовочную часть поста
                    });
                }
            </script>
            <script>
                var togglecomment = function (id) //сокрытие комментариев
                {
                    
                    var name = "comment-" + id;//находим нужный комментарий
                    var toggleddiv = document.getElementById(name);
                    $(toggleddiv).find(' >.message').toggle();//переключаем видимость его тела, а вместе с ним и всех дочерних комментариев
                    $(toggleddiv).find(' >.voting').toggle();//а также элемента для оценки
                    var toggledinfo = document.getElementById("info-" + id);
                    $(toggledinfo).find(' >.placeholder').toggle();//переключаем видимость плейсхолдера ("комментарий скрыт")
                    var linkname = "#toggle-" + id;
                    var currenttext = $(linkname).text();
                    if (currenttext == '[-]')
                    {
                        $(linkname).text('[+]');
                    }
                    else {
                        $(linkname).text('[-]');
                    }

                }
            </script>

            <script>
                $('#editbut').on('click', function (e) {//редактирование поста
                    console.log('working');//вывод в консоль для отладки, можно убрать
                    $(this).next('div').toggle();//меняем видимость формы редактирования
                    var text = document.getElementById('postcontent').innerHTML;//берём текст поста
                    tinymce.get('editing').setContent(text); //задаём его в форму редактирования
                    $(document.getElementById('postcontent')).toggle();//меняем видимость тела поста
                
                });
            </script>

          
            <script>
                arrowchange = function (arrow)
                {
                    $(arrow).toggleClass("inactive active");

                }
            </script>

            <script>
                vote = function (arrow, id) //оценка комментария, по нажатию на стрелку
                {
                    obj = new Object();
                    obj.action = arrow.id;//берём значение стрелки - вверх или вниз
                    obj.commentid = id;//и id комментария
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: "POST",
                        url: "/Comments/ratecom/",//отправляем JSON в метод ratecom контроллера Comments
                        data: JSON.stringify(obj),
                        success: function (result) {
                            console.log(obj);//вывод в консоль для отладки, можно убрать
                        }
                    })
                        .done(function (partialViewResult) {
                            $("#comments").html(partialViewResult);//обновляем комментарии
                        });


                }
            </script>
         
            <script>
                var updatepost = function (id) //редактирование поста
                {
                    var update = new Object();
                    update.postid = id;//берём id поста
                    update.postbody = tinymce.get('editing').getContent();//и новый текст
                    tinymce.get('editing').setContent('');//убираем текст из формы ввода
                    console.log(JSON.stringify(update));//вывод в консоль для отладки, можно убрать
                    $.ajax({
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        type: "POST",
                        url: "/Comments/editpost/",//отправляем в метод editpost контроллера Comments
                        data: JSON.stringify(update),
                        success: function (result) {
                            console.log(update);//вывод в консоль для отладки, можно убрать
                        }
                    })
                        .done(function (partialViewResult) {
                            $("#headdiv").html(partialViewResult);//после успеха обновляем заголовочную часть поста
                        });

                }
            </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

