.parentcomment
{
    position: relative;
    left: 1px;
}
.childcomment
{
    position: relative;
    left: 10px;
}
.userfont
{
    font-size: 120%;
    font-weight: bold;
    color: red;
}
.postdate
{
    color: blue;
}
