.post {
    position: absolute;
    width: 40%;
}
.postside{
    float: left;
    width: 29%;
}
.postmain{
    margin: 0 auto;
    display: inline-block;
    width: 70%;
}
/*.rating{
    font-size: 180%;
    color: gray;
}
.title{
    font-size:180%;
    color: gray;
}*/