@model IndexViewModel
@{
    ViewData["Title"] = "Управление аккаунтом";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddAvatar" asp-controller="Manage" method="post" enctype="multipart/form-data">
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Загрузить" />
</form>
<div>
    <h4>Изменить настройки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Изменить</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Создать</a>
            }
        </dd>
        <dt>Данные:</dt>
        <dd>

            <a asp-controller="Manage" asp-action="UpdateUser" class="btn-bracketed">Изменить</a>


        </dd>


    </dl>
</div>
