
@{
    ViewData["Title"] = "Управление";
}

<h2>Настройка</h2>


    <li><a asp-area="" asp-controller="Categories" asp-action="tech">Категории</a></li>
    <li><a asp-area="" asp-controller="Criteria" asp-action="Index">Критерии</a></li>
<li><a asp-area="" asp-controller="Multipliers" asp-action="Index">Множители оценок</a></li>

