@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Регистрация в системе</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    @*<div class="form-group">
        <label asp-for="displayedname" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="displayedname" class="form-control" />
            <span asp-validation-for="displayedname" class="text-danger"></span>
        </div>
    </div>*@
    @*<p style="padding-top:-3px"><b>Зарегистрировать гостем:  &nbsp; </b> <input asp-for="guest" id="mybutton" onclick="toggleinfo()" type="checkbox" /></p>
    <div id="notnecessary">*@
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    @*</div>*@

    @*<p>
        <label>Аватар</label>
        <input name="Avatar" type="file" class="form-control" />
    </p>*@

    @*<div class="form-group">
        <label asp-for="Avatar" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Avatar" type="file" class="form-control" />
            <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>
    </div>*@

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </div>
    </div>
</form>

<a asp-controller="Account" asp-action="RegisterGuest">Зарегистрироваться гостем</a>

@section Scripts {
    @*<script>
        toggleinfo = function ()
        {
            $(document.getElementById('notnecessary')).toggle();
           
        }
       
    </script>*@
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
