@model IEnumerable<SelfOrg.Models.Category>
    @{
        ViewData["Title"] = "Категории";
    }
<h2>Все категории</h2>
@foreach (var item in Model)
{
   <h3>@item.CatName</h3>
   <h4>@item.CatDescr</h4>
   <a asp-controller="Posts" asp-action="category" asp-route-id="@item.CategoryId">Постов в категории: @item.postcount</a>
}

